<form class="flex items-center gap-3 relative mt-12" (ngSubmit)="onSubmit()">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    class="absolute text-[#616475] left-[10px]"
  >
    <path
      fill="currentColor"
      d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.612 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3l-1.4 1.4ZM9.5 14q1.875 0 3.188-1.313T14 9.5q0-1.875-1.313-3.188T9.5 5Q7.625 5 6.312 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14Z"
    />
  </svg>
  <input
    type="search"
    [(ngModel)]="searchQuery"
    name="searchQuery"
    placeholder="Search location"
    class="pl-10 p-2 w-full outline-0 bg-[#1e213a] border-[1px] border-[#e7e7eb] text-[#e7e7eb] placeholder:text-[#616475] rounded"
  />
  <button
    type="submit"
    class="px-3 p-2 bg-[#3C47E9] border-[1px] border-[#3C47E9] text-[#e7e7eb] rounded hover:bg-[#1826DC] hover:border-[#1826DC] transition-colors duration-75"
  >
    Search
  </button>
</form>
