<article class="bg-[#1E213A] p-4 flex flex-col justify-between gap-6 text-center rounded">
  <h3 class="text-xl">{{ title }}</h3>
  <p>
    <span class="text-7xl font-bold">{{ number }}</span>
    <span class="text-3xl">{{ unity }}</span>
  </p>
  <p *ngIf="windDirection !== ''" class="p-4">
    {{ windDirection }}
  </p>

  <footer *ngIf="unity === '%'" class="px-4">
    <div class="flex justify-between text-[#a09fb1]">
      <span>0</span>
      <span>50</span>
      <span>100</span>
    </div>
    <div class="w-full h-2 bg-[#e7e7eb] rounded-full relative">
      <span
        class="absolute left-0 h-2 bg-[#ffec65] rounded-full"
        [ngStyle]="{ width: number + '%' }"
      ></span>
    </div>
    <div class="flex justify-end text-[#a09fb1]">
      <span>%</span>
    </div>
  </footer>
</article>
