<aside class="sidebar-search">
  <button class="close-btn text-xl" routerLink="/home">
      <span class="fa fa-times" aria-hidden="true"></span>
  </button>
  <div class="search-box relative">
      <div>
          <span class="fa fa-search absolute" aria-hidden="true"></span>
          <input type="search" class="p-2" placeholder="search location">
          <button class="p-2">Search</button>
      </div>
  </div>
  <div class="search-result">
      <button>Barcelona<span class="arrow">></span></button>
      <button>London<span class="arrow">></span></button>
      <button>Madrid<span class="arrow">></span></button>
      <button>Paris<span class="arrow">></span></button>
  </div>
</aside>
