<aside class="sticky top-0 min-h-screen bg-[#1e213a] flex flex-col justify-between">
  <header class="p-10 flex items-center justify-between gap-1 flex-wrap">
    <button
      class="px-4 py-2 rounded bg-[#6e707a] text-white hover:bg-[#55575E] transition-colors duration-75"
      (click)="searchbarService.toggleSearchbar()"
    >
      Search for places
    </button>
    <button
      class="p-2 rounded-full bg-[#6e707a] text-white hover:bg-[#55575E] transition-colors duration-75"
      (click)="weatherService.useNavigatorGeolocation()"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          fill="currentColor"
          d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4s4-1.79 4-4s-1.79-4-4-4zm8.94 3A8.994 8.994 0 0 0 13 3.06V1h-2v2.06A8.994 8.994 0 0 0 3.06 11H1v2h2.06A8.994 8.994 0 0 0 11 20.94V23h2v-2.06A8.994 8.994 0 0 0 20.94 13H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7s7 3.13 7 7s-3.13 7-7 7z"
        />
      </svg>
    </button>
  </header>

  <div class="relative">
    <img
      src="/assets/cloud-background.png"
      alt="Cloud Background"
      class="w-full h-72 object-cover opacity-10"
    />
    <img
      *ngIf="forecastResponse()"
      [src]="'/assets/' + conditionCodes[forecastResponse()!.current.condition.code] + '.png'"
      [alt]="forecastResponse()!.current.condition.text"
      class="absolute top-2/4 left-[calc(50%)] -translate-x-2/4 -translate-y-2/4"
    />
  </div>

  <h1 class="text-white text-center mt-14">
    <span class="text-9xl">{{
      temperatureUnit() === 'C'
        ? (forecastResponse()?.current?.temp_c ?? 20 | round)
        : (forecastResponse()?.current?.temp_f ?? 68 | round)
    }}</span>
    <span class="text-4xl text-gray-400">{{ 'º' + temperatureUnit() }}</span>
  </h1>

  <h2 class="text-gray-400 text-center text-4xl font-bold px-4">
    {{ forecastResponse()?.current?.condition?.text ?? 'Sunny' }}
  </h2>

  <footer class="flex flex-col justify-center gap-3 py-10 text-lg">
    <p class="text-gray-400 text-center">Today · {{ todayDate | date : 'EE, d MMM' }}</p>
    <div class="flex items-center justify-center gap-1 text-gray-400">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          fill="currentColor"
          d="M12 11.5A2.5 2.5 0 0 1 9.5 9A2.5 2.5 0 0 1 12 6.5A2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7Z"
        />
      </svg>
      <span>{{ currentLocation().name }}</span>
    </div>
  </footer>
</aside>
